.about-container {
    height: 100vh;
    background-color: #232946;
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
    z-index: 1;
    border-radius: 10%;
  }
  
  .about-content {
    text-align: center;
    color: #ffff;
    margin-top:7%;
  }
  
  .about-heading {
    font-size: 2rem;
    margin-bottom: 2px;
    text-align: left;
    padding: 20px;
    
  }
  
  @media (max-width: 600px) {
  .about-subheading {
      font-size: 10px !important; 
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  }

  .about-container img {
    max-width: 45%; 
    max-height: 39%;
}

.about-heading{
  text-align: center;
}