.about-container {
    height: 100vh;
    background-color: #2D3250;
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .about-content {
    text-align: center;
    color: white;
    margin-top:6%;
  }
  
  .about-heading {
    font-size: 2rem;
    margin-bottom: 2px;
    text-align: left;
    padding: 20px;
    
  }
  
  .about-subheading {
    font-size: 1.5rem;
  }
  
  @media (max-width: 600px) {
  .about-subheading {
      font-size: 10px !important; 
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  }

  .about-container img {
    max-width: 25%; /* Adjust the value as needed */
    max-height: 23%;
}

.about-heading{
  text-align: center;
}