.navbar-appbar {
  background-color: transparent !important;
  box-shadow: none !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px !important;
  padding-top: 40px; /* Remove any extra top padding */
  padding-right: 35px; /* Adjust as needed */
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center; /* Center items vertically */
  padding: 0 35px; /* Horizontal padding for the toolbar */
  height: 100%; /* Ensure toolbar takes full height */
}

.logo-container {
  flex-grow: 1; /* Takes up available space */
  display: flex;
  align-items: center; /* Center logo vertically */
  padding-left: 9%;
}

.logo-text {
  color: inherit;
}

.navbar-link {
  letter-spacing: 0.5px;
  font-size: 18px;
  text-transform: none !important;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100% !important;
  padding: 8px 12px !important;
  margin: 0 18px; 
  position: relative;
}

@media (max-width: 600px) {
  .navbar-link {
    font-size: 13px !important;
    margin: 10px 0;
  }
}

.navbar-link:after {
  content: "";
  background-color: #ff3c78;
  position: absolute;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: 0; 
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  z-index: -1; 
}

.navbar-link:hover:after {
  width: calc(100% - 24px); 
  left: 50%; 
  transform: translateX(-50%);
}
