.skill-container {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    position: relative;
  }
  
  .skill-content {
    text-align: center;
    color: white;
    margin-top: 4%;
  }
  
  .skill-heading {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .skill-subheading {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  

.skill-container .resume-container {
    margin: 0 10px; 
    background-color: #2D3250;
    color: white;
    border-radius: 17px;
    padding: 29px;
}
.skill-container .resume-container:hover{
    background-color: transparent;
    color: white;
}

